* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFont;
  src: url("fonts/庞门正道标题体.ttf");
}
body {
  overflow: hidden;
}
body .gameApp {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}
body .gameApp .interface {
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("imgs/background (3).jpg");
  background-size: cover;
}
body .gameApp .interface h1 {
  width: 100%;
  top: 15%;
  position: absolute;
  text-align: center;
  font-weight: lighter;
  font-family: myFont, "Times New Roman", serif;
  text-shadow: white 0 0 10px;
  font-size: 60px;
}
body .gameApp .interface h2 {
  width: 100%;
  top: 15%;
  position: absolute;
  text-align: center;
  font-weight: lighter;
  font-family: myFont, "Times New Roman", serif;
  text-shadow: white 0 0 10px;
  top: 25%;
  font-size: 40px;
}
body .gameApp .interface .leftTopArea {
  width: 100px;
  height: 100px;
  padding: 30px;
}
body .gameApp .interface .leftTopArea button {
  background-color: #1e1e1e;
  color: #f1f3f4;
  width: 400px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  margin: 0;
}
body .gameApp .interface .leftTopArea button:hover {
  transform: scale(1.1);
}
body .gameApp .interface .btnList {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-150px);
}
body .gameApp .interface .btnList button {
  background-color: #1e1e1e;
  color: #f1f3f4;
  width: 400px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  font-size: 30px;
  padding: 25px 50px 25px 50px;
  font-family: myFont, "Times New Roman", serif;
}
body .gameApp .interface .btnList button:hover {
  transform: scale(1.1);
}
body .gameApp .modeChoice-interface {
  overflow-y: scroll;
}
body .gameApp .modeChoice-interface .note {
  background-color: black;
  color: orangered;
}
body .gameApp .modeChoice-interface h1,
body .gameApp .modeChoice-interface h2 {
  position: static;
  margin-top: 60px;
}
body .gameApp .modeChoice-interface .leftTopArea {
  position: absolute;
  left: 0;
  top: 0;
}
body .gameApp .modeChoice-interface .btnList {
  position: absolute;
  outline: solid 1px white;
  left: 50%;
  top: 30%;
  width: 800px;
  height: 520px;
  overflow-y: scroll;
  transform: translateX(-400px);
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .gameApp .modeChoice-interface .btnList .btnArea {
  outline: solid 1px white;
}
body .gameApp .modeChoice-interface .btnList .btnArea button {
  margin: 15px auto;
  font-size: 20px;
  width: 250px;
  padding: 10px;
}
body .gameApp .modeChoice-interface .btnList .btnArea p {
  margin: 10px;
  text-align: center;
}
body .gameApp .war-interface {
  background-image: url("imgs/background (2).jpg");
}
body .gameApp .war-interface .rightTopArea {
  width: 100px;
  position: absolute;
  right: 12%;
  top: 0;
}
body .gameApp .war-interface .rightTopArea .backPage,
body .gameApp .war-interface .rightTopArea .pause {
  background-color: #1e1e1e;
  color: #f1f3f4;
  width: 400px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  width: 100px;
}
body .gameApp .war-interface .rightTopArea .backPage:hover,
body .gameApp .war-interface .rightTopArea .pause:hover {
  transform: scale(1.1);
}
body .gameApp .help-interface {
  overflow-y: scroll;
}
body .gameApp .help-interface .rightTopArea {
  position: absolute;
  width: 100px;
  right: 12%;
  top: 0;
}
body .gameApp .help-interface .content {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
body .gameApp .help-interface .content h2.helpTitle {
  text-align: center;
  position: static;
  line-height: 2em;
}
body .gameApp .help-interface .content video {
  margin: 20px;
  outline: solid 2px;
  width: 80%;
}
body .gameApp .main-interface .btnList {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-300px);
}
body .gameApp .cannon-interface,
body .gameApp .monsters-interface {
  overflow-y: scroll;
}
body .gameApp .cannon-interface h1,
body .gameApp .monsters-interface h1,
body .gameApp .cannon-interface h2,
body .gameApp .monsters-interface h2 {
  position: static;
}
body .gameApp .cannon-interface .content,
body .gameApp .monsters-interface .content {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .gameApp .cannon-interface .content .tower,
body .gameApp .monsters-interface .content .tower,
body .gameApp .cannon-interface .content .monster,
body .gameApp .monsters-interface .content .monster {
  float: left;
  width: 200px;
  height: 400px;
  padding: 10px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}
body .gameApp .cannon-interface .content .tower:hover,
body .gameApp .monsters-interface .content .tower:hover,
body .gameApp .cannon-interface .content .monster:hover,
body .gameApp .monsters-interface .content .monster:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
body .gameApp .cannon-interface .content .tower h3,
body .gameApp .monsters-interface .content .tower h3,
body .gameApp .cannon-interface .content .monster h3,
body .gameApp .monsters-interface .content .monster h3 {
  text-align: center;
  line-height: 2em;
  font-family: myFont, "Times New Roman", serif;
  font-weight: lighter;
}
body .gameApp .cannon-interface .content .tower .tower-shape,
body .gameApp .monsters-interface .content .tower .tower-shape,
body .gameApp .cannon-interface .content .monster .tower-shape,
body .gameApp .monsters-interface .content .monster .tower-shape,
body .gameApp .cannon-interface .content .tower .monster-shape,
body .gameApp .monsters-interface .content .tower .monster-shape,
body .gameApp .cannon-interface .content .monster .monster-shape,
body .gameApp .monsters-interface .content .monster .monster-shape {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  outline: solid 1px red;
}
body .gameApp .cannon-interface .content .tower p,
body .gameApp .monsters-interface .content .tower p,
body .gameApp .cannon-interface .content .monster p,
body .gameApp .monsters-interface .content .monster p {
  font-size: 10px;
}
body .gameApp .cannon-interface .leftTopArea,
body .gameApp .monsters-interface .leftTopArea {
  position: absolute;
  right: 10%;
  top: 0;
}
body .gameApp .cannon-interface .leftTopArea .backPage,
body .gameApp .monsters-interface .leftTopArea .backPage {
  width: 100px;
}
body .gameApp #mainCanvas {
  left: 0;
  top: 0;
  outline: solid 1px;
}
body .choiceBtn {
  width: 200px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: scroll;
}
body .choiceBtn .Battery {
  color: #9cdcfe;
}
body .choiceBtn .Building {
  color: gold;
}
body .choiceBtn button {
  width: 100px;
  display: block;
  margin: 5px auto;
  padding: 3px;
  font-size: 14px;
  background-color: #1e1e1e;
  text-shadow: #88844b;
  transition: all 0.2s;
}
body .choiceBtn button:disabled {
  opacity: 0.5;
}
body .choiceBtn button:hover {
  color: white;
  transform: scale(1.1);
}
body .choiceBtn button:active {
  transform: scale(0.9);
}
#smallLevelUpPanel {
  position: absolute;
  width: 400px;
  height: 150px;
  right: 20%;
  bottom: 5%;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
#smallLevelUpPanel .levelUpItems .levelUpItem {
  float: left;
  width: 60px;
  margin: 2px;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
}
#smallLevelUpPanel .levelUpItems .levelUpItem:hover {
  transform: scale(1.1);
}
#smallLevelUpPanel .levelUpItems .levelUpItem .name {
  height: 35px;
  font-size: 10px;
}
#smallLevelUpPanel .levelUpItems .levelUpItem .icon {
  margin: 0 auto;
}
#smallLevelUpPanel .levelUpItems .levelUpItem .price {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
#smallLevelUpPanel .otherItems .item {
  float: left;
  width: 60px;
  margin: 2px;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
}
#smallLevelUpPanel .otherItems .item:hover {
  transform: scale(1.1);
}
#smallLevelUpPanel .otherItems .levelDown .icon,
#smallLevelUpPanel .otherItems .sell .icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url("icon/down.png");
  background-size: 50px 50px;
}
#smallLevelUpPanel .otherItems .levelDown .inner-text,
#smallLevelUpPanel .otherItems .sell .inner-text {
  text-align: center;
  font-weight: bolder;
}
#smallLevelUpPanel .otherItems .sell .icon {
  background-image: url("icon/sell.png");
}
button {
  color: white;
}
/*# sourceMappingURL=index.css.map */